@import './variables.scss';

$theme-colors: (
  'primary': $primary-color,
  'secondary': #7f8c8d,
  'success': #2ecc71,
  'danger': #e74c3c,
  'warning': #f39c12,
  'info': #1abc9c,
);

@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  * {
    box-sizing: border-box;
  }
}
